<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-sharp"></ion-icon>
      <ion-label>Parkiranje</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tablice" href="/tabs/tablice">
      <ion-icon aria-hidden="true" name="tablet-landscape-sharp"></ion-icon>
      <ion-label>Tablice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-sharp"></ion-icon>
      <ion-label>Postavke</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
