<ion-content [fullscreen]="true">
  <div
    style="
      position: fixed;
      top: 5%;
      z-index: 1000000000000;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    "
  >
    <ion-searchbar placeholder="Ulica..."></ion-searchbar>
    <a routerLink="/settings" routerLinkActive="active">
      <ion-icon
        name="settings"
        size="large"
        color="light"
        aria-label="Settings"
        (click)="this.isOpen = false"
      ></ion-icon>
    </a>
  </div>
  <div
    id="mapId"
    style="height: 100%"
    (click)="modal.setCurrentBreakpoint(0.75)"
  ></div>
  <ion-modal
    #modal
    trigger="open-modal"
    [isOpen]="isOpen"
    [initialBreakpoint]="0.10"
    [breakpoints]="[0.10, 0.75, 1]"
    [backdropDismiss]="false"
    [backdropBreakpoint]="0.75"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <h4 style="text-align: center">{{getPrimaryLocation()}}</h4>
        <p style="text-align: center">{{getSecondaryLocation()}}</p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
