<div>
  <div class="zona">
    <div class="inline">
      <h1>{{ manageParkingService.name() }}</h1>
      <p style="display: inline-flex; align-items: center; gap: 0.5rem">
        {{ manageParkingService.smsNumber() }}
        <ion-icon name="mail" size="small"></ion-icon>
      </p>
    </div>
    <p>{{ manageParkingService.calculateWorkingTime() }}</p>
  </div>
  @if (manageParkingService.calculateClosingTime() < 60) {
  <div class="closing-warning">
    <ion-icon name="warning" size="large"></ion-icon>
    <p>
      Parkirna zona zatvara se za
      {{ manageParkingService.calculateClosingTime() }}min!
    </p>
    <ion-icon name="warning" size="large"></ion-icon>
  </div>
  }
  <div class="increase-decrease">
    <button (click)="manageParkingService.decreaseTime()">-</button>
    <span>{{ manageParkingService.timePaid() }}min</span>
    <button (click)="manageParkingService.increaseTime()">+</button>
  </div>
  <p>Bilješka</p>
  <ion-item>
    <ion-input placeholder="Grupa B, mjesto 27..."></ion-input>
  </ion-item>
  <ion-button style="margin: 16px 0px">
    <ion-icon slot="start" name="camera"></ion-icon>
    Dodaj sliku
  </ion-button>
  <div style="display: flex; justify-content: center">
    <ion-button shape="round" color="success" size="block"
      >Plati SMS-om</ion-button
    >
  </div>
</div>
